.contato-container {
    height: 100vh;
    background-color: #3f3c39;
    overflow-x: hidden;
}

@media(max-width: 1366px) {
    .contato-container {
        height: 140vh;
    }
}

@media(max-width: 640px) {
    .contato-container {
        height: 145vh;
    }
}

@media(max-width: 430px) {
    .contato-container {
        height: 160vh;
    }
}

@media(max-width: 390px) {
    .contato-container {
        height: 160vh;
    }
}

