@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.body {
    background-color: #3f3c39;
    overflow-x: hidden;
}

#banner {
    background-image: url('https://pbs.twimg.com/media/FBwJWeQXIAItfyH.jpg:large');
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

#trailer-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #f8f8f8;
}

#sinopse {
    width: 50%;
    height: 50%;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    align-items: center;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 90%;
    text-align: justify;
}

.button-ingresso {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    background-color: #d21617;
    border: none;
    box-shadow: 0 0 10px 0 #f8f8f8;

}

.button-ingresso:hover {
    background-color: #fff;
    color: #d21617;
    transform: scale(1.04);
}

@media(max-width: 1440px) {
    #banner {
        background-position: 50%, 50%;
    }
    .content {
        width: 80%;
    }
}

@media(max-width: 1366px) {
    #trailer-container {
        height: 60vh;
    }
}

@media(max-width: 1024px) {
    #banner {
        background-position: 35%, 50%;
        height: 50vh;
    }
    #trailer-container {
        height: 45vh;
    }
    .content {
        width: 90%;
        justify-content: space-around;
    }
    #sinopse {
        margin-left: 15px;
    }
    .description {
        width: 100%;
    }
}

@media(max-width: 834px) {
    #banner {
        background-position: 35%, 50%;
    }
    .content {
        flex-direction: column;
        padding: 30px 0;
    }
    #sinopse {
        width: 70%;
        height: 40%;
        margin-left: 0;
        align-items: center;
    }
    #trailer-container {
        height: 60vh;
    }
    .trailer {
        width: 70%;
    }
}

@media(max-width: 768px) {
    #trailer-container {
        height: 70vh;
    }
}

@media(max-width: 640px) {
    .description {
        font-size: 17px;
    }
    .button-ingresso {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }
}

@media(max-width: 688px) {
    .content {
        width: 100%;
        height: 550px;
    }
}

@media(max-width: 480px) {
    #trailer-container {
        height: 60vh;
    }
}

@media(max-width:430px) {
    #banner {
        background-position: 40%, 50%;
    }
    #trailer-container {
        height: 55vh;
    }
    .trailer {
        width: 90%;
    }
    #sinopse {
        width: 90%;
        row-gap: 20px;
    }
    .content {
        height: 550px;
        padding: 0;
        justify-content: center;
        row-gap: 20px;
        margin-bottom: 20px;
    }
    .description {
        font-size: 1.1rem;
    }
}

@media(max-width: 414px) {
    #trailer-container {
        height: 65vh;
    }
}

@media(max-width: 393px) {
    #trailer-container {
        height: 55vh;
    }
}

@media(max-width: 375px) {
    #trailer-container {
        height: 30em;
    }
}

@media(max-width: 360px) {
    #trailer-container {
        height: 55vh;
    }
}

@media(max-width: 320px) {
    #trailer-container {
        height: 30em;
    }
    #banner {
        height: 60vh;
    }
}

