footer {
    width: 100vw;
    height: 25vh;
    background-color: #1f1d1d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo-menu {
    width: 50vw;
    height: 15vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.footer-logo-box {
    width: 40%;
}

#footer-logo {
    width: 60%;
    height: auto;
}

.footer-nav {
    width: 60%;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.li-footer {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 1.2rem;
    color: rgb(185, 187, 189);
    list-style: none;
    transition: .5s;
}

.li-footer:hover {
    color: #d21617;
}

.footer-copy {
    width: 100vw;
    height: 5vh;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 4px 0;
}

.footer-span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: rgb(185, 187, 189);
    cursor: default;
}

@media(max-width: 1440px) {
    .footer-logo-menu {
        width: 60vw;
    }
    .li-footer {
        font-size: 1rem;
    }
    .footer-span {
        font-size: 0.8rem;
    }
}

@media(max-width: 1024px) {
    footer {
        height: 20vh;
    }
    .footer-logo-menu {
        width: 70vw;
        justify-content: space-between;
    }
    #footer-logo {
        width: 60%;
    }
}

@media(max-width: 768px) {
    .li-footer {
        font-size: 0.9rem;
    }
    .footer-span {
        font-size: 0.8rem;
    }
}

@media(max-width: 480px) {
    .footer-logo-menu {
        width: 90vw;
    }
    #footer-logo {
        width: 70%;
    }
    .li-footer {
        font-size: 0.8rem
    }
    .footer-span {
        font-size: 0.7rem;
    }
}

@media(max-width: 393px) {
    .li-footer {
        font-size: 0.7rem;
    } 
    .footer-span {
        font-size: 0.6rem;
    }
}

@media(max-width: 320px) {
    .footer-span {
        font-size: 0.5rem;
    }
    .li-footer {
        font-size: 0.6rem;
    }
}


